#wishList .edit {
    display: none;
}
#wishList .editing .view {
    display: none;
}
#wishList .editing .edit {
    display: block;
    width: 444px;
    padding: 13px 15px 14px 20px;
    margin: 0;
    margin-bottom: 20px;
}
#wishList .done label {
    color: #777777;
    text-decoration: line-through;
}